.container1 {
  background-color: purple;
  height: 50px;
  width: 50px;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
}
.container2 {
  background-color: aqua;
  height: 300px;
  width: 400px;
  position: relative;
  top: 20px;
  left: 20px;
}
.list {
  padding-left: 20px;
}
.header {
    padding-left: 20px;
    padding-top: 20px;
}
.box_2 {
  background-color: orange;
  height: 100px;
  width: 100px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.container3 {
  background-color: yellow;
  height: 150px;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box {
  background-color: green;
  height: 50px;
  width: 50px;
}
