.header {
  background-color: cyan;
  height: 200px;
  right: 0px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.box {
  background-color: black;
  height: 30px;
  width: 30px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.greenbox {
  display: flex;
  background-color: green;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 200px;
}
.lilabox {
  background-color: violet;
  position: absolute;
  height: 100px;
  width: 100px;
  right: 0px;
  bottom: 0px;
}
